.userMain {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(270deg, #1a78c2 0%, #1a78c2 101.06%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  padding: 24px 28px 24px 32px;
  border-radius: 10px;
}

.userMainEdit {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
  text-transform: uppercase;
  font-weight: 600;
}
